/* these are default styles for the webapge */
html{
    font-size: 2.5vb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* setting background for the navigatipon bar */
.navbar{
    background: rgb(250, 235, 215);
}

/* this tag defones the font weight and color in the navigation bar */
.navbar-brand{
    font-weight: bolder;
    color: #3039dd;
}

/* this defines the style of the image class */
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
}

/* here we change the styles in the card elements */
.images .column .card{
    width: 18rem;
    height: 12rem;
    border-radius: 1em;
}

/* adding a border readius and adjusting the sizes */
.images .column .card #image{
    width: 18rem;
    height: 12rem;
    border-radius: 1em;
}

/* this changes the styles for the title class */
.title{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(64, 52, 134);
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}

/* this defines the properties of the hostory class */
.history{
    background-image: url('../pictures/pexels-joshua-135018.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh; 
    width: 100%; 
    margin: 0;
}

/* here we set the properties of h2 and paragraph in history class */
.history h2, p{
    font-size: 1.5rem;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* here we define the size of the h2 tag */
h2{
    font-size: 2rem !important;
}

/* this sets the properties of the footer tag */
footer{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    background: #111010e8;
}

/* this sets the properties of the card class in the footer tag */
footer .card{
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 100%;
    background: linear-gradient(to right, #ecf1f1 0%, #6e6c71 100%);
    background-clip: text;
    color: transparent;
    border: none;
}

/* this sets the properties of the ancohor tag in card class*/
footer .card a{
    text-decoration: none;
    color: unset;
}
